@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
:root {
  /********** dark theme ************/

  /* sidebar container & header & cards color */
  --dth-primary-bg-color: #2c2c38;
  /* content container color  */
  --dth-container-bg-color: #21212d;
  /* add new column  */
  --dth-new-column-color: #24242e;

  /*********** light theme  ***********/
  /* sidebar container & header & cards color */
  --lth-primary-bg-color: #ffffff;
  /* content container color  */
  --lth-container-bg-color: #f4f7fe;
  /* add new column  */
  --lth-new-column-color: #e9f0fa;

  /* sidebar menu text color  */
  --light-grey-color: #7c8392;
  /* light dark mode  */
  --darker-grey-color: #21212d;
  /* text color  */
  --white-color: #fcfeff;
  --purple-color: #6361c6;
  /* todo color  */
  --cyan-color: #47c4e7;
  /* doing color  */
  --light-purple-color: #8671fd;
  /* done color  */
  --green-color: #6ce7b2;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
button {
  outline: 0;
  cursor: pointer;
}
